name: Build MSThesisDemo image
on:
  workflow_dispatch:
  push:
    paths:
      - containers/ms-thesis-demo/Dockerfile
      - .github/workflows/ms-thesis-demo.yml # Self-trigger

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: boysle/ms-thesis-demo
  VERSION: latest

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to the registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Free up runner disk space
        run: |
          echo "Initial free space:"
          df -h
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/android
          sudo rm -rf /usr/local/lib/android
          
          # --- This line is modified ---
          sudo swapoff /swapfile || true
          
          # This line was already fine, -f prevents errors
          sudo rm -f /swapfile
          
          echo "Free space after cleanup:"
          df -h

      - name: Build and push image
        uses: docker/build-push-action@v4
        with:
          context: containers/ms-thesis-demo
          build-args: |
            VERSION=${{ env.VERSION }}
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}
          push: true
          # --- MODIFIED LINES ---
          cache-from: type=registry,ref=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:cache
          cache-to: type=registry,ref=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:cache,mode=max
          # ----------------------
